// *** Settings ***
@import './base/variables';
@import './utils/helpers';
@import './base/globals';

.calculator {
  position: relative;
  width: 320px;
  margin: 0 auto;
  background-color: #292f36;
  box-shadow: 0 19px 38px rgba(19, 19, 19, 0.24), 0 15px 12px rgba(19, 19, 19, 0.12);
}

button {
  padding: 16px;
  font-size: 20px;
  line-height: 1;
  background-color: transparent;
  border: 0;
  border: 1px solid #0001;
  outline: none;
  color: #ffce5c;
  transition: all 300ms;
}

button:hover {
  color: #00a3f5;
  border: 1px solid #ffce5c22;
}

.result {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  width: 320px;
  height: 80px;
  padding: 8px;
  font-size: 32px;
  line-height: 2;
  background-color: rgba(19, 19, 19, 0.64);
  color: #60d63c;
  text-align: right;
  direction: rtl;
  white-space: nowrap;
}

.functions button,
.math-operations button {
  display: inline-block;
  width: 80px;
  height: 80px;
  color: #d63c6b;
}

.functions button:hover,
.math-operations button:hover {
  color: #b696a0;
}

.numbers {
  float: left;
  width: 240px;
}

.numbers button {
  position: relative;
  display: block;
  float: left;
  width: 80px;
  height: 80px;
}

.numbers button:last-child {
  width: 100%;
}

.functions {
  float: left;
  width: 240px;
}

// *** Components ***

// *** Layout ***
